
/*Login Section*/
.login {
    -fx-background-color: rgb(169, 186, 228);
}

.appointments_view{
    -fx-background-color: rgb(169, 186, 228);
}

.radio_button{
    -fx-text-fill: white;
    -fx-padding: 10px;
}

.form_field{
    -fx-background-color: white;
    -fx-background-radius: 0 0 0 0;
    -fx-text-fill: black;
    -fx-padding: 5px;
    -fx-border-color: rgb(255, 255, 255);
    -fx-min-width: 100px;
}

.auto_form_field{
    -fx-background-color: rgba(255, 255, 255, 0.726);
    -fx-background-radius: 0 0 0 0;
    -fx-text-fill: black;
    -fx-padding: 5px;
    -fx-border-color: rgb(255, 255, 255);
    -fx-min-width: 100px;
}

.time_field{
    -fx-background-color: white;
    -fx-background-radius: 0 0 0 0;
    -fx-text-fill: black;
    -fx-padding: 5px;
    -fx-border-color: rgb(255, 255, 255);
    -fx-min-width: 50px;
}

.form_button{
    -fx-background-color: rgb(89, 105, 146);
    -fx-background-radius: 2 2 2 2;
    -fx-text-fill: white;
    -fx-padding: 6px;
    -fx-min-width: 100px;
}

.business_hours_label{
    -fx-font-size: 15px;
    -fx-text-fill: rgb(0, 0, 0);
    
}


/*Navbar*/
.navbar{
    -fx-background-color: rgb(242, 243, 245);
    /*padding top*/
    -fx-padding: 10px 0 0 0;

}

.contact_section{
    -fx-padding: 20px;
}

.appointment_section{
    -fx-padding: 20px;
}

.appointment_content{
    -fx-padding: 10px;
    -fx-background-color: rgb(169, 186, 228);
}

.navbar-selection-button{
    -fx-background-radius: 10 10 0 0;
    -fx-background-color: rgb(169, 186, 228);
    -fx-text-fill: black;
    -fx-padding: 5px;
    -fx-font-size: 12px;

}

.form_selection_buttons{
    
    -fx-padding: 10px;
}

.selected{
    -fx-background-color: rgb(89, 105, 146);
    -fx-text-fill: rgb(255, 255, 255);
    /*make top border yellow*/
    -fx-border-color: rgb(255, 255, 0);
    -fx-border-width: 0 0 5 0;
}

.vboxclass{
    /*-fx-background-color: red;*/
}

.form_label{
    -fx-font-size: 20px;
    -fx-text-fill: rgb(0, 0, 0);
}

/*main*/
.main {
    -fx-background-color: rgb(89, 105, 146);
}

/*sections*/
.section-labels{
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-text-fill: rgb(255, 255, 255);
}

.customer_view{
    -fx-background-color: rgb(169, 186, 228);
}

.option-button{
    -fx-background-color: rgb(169, 186, 228);
    -fx-background-radius: 0 0 10 10;
    -fx-text-fill: black;
    -fx-padding: 10px;

    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 5 0 0 0;
}

.choicebox{
    -fx-background-color: rgb(169, 186, 228);
    -fx-background-radius: 10 10 0 0;
    -fx-text-fill: black;
    -fx-padding: 5px;

    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 0 0 5 0;
}

.choicebox_upsidedown{
    -fx-background-color: rgb(169, 186, 228);
    -fx-background-radius: 0 0 10 10;
    -fx-text-fill: black;
    -fx-padding: 5px;

    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 5 0 0 0;
}

